.presentation
  .container
    .presentation__content
      a#main-presentation.presentation__link.presentation_policy-link(href="#") Показать политику конфиденциальности
      a#light-theme-presentation.presentation__link.presentation_policy-link(href="#") Показать политику конфиденциальности(Light)