@import "layout/common";

@import "_mixins";

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100%;

  @include phones {
    font-size: 14px;
  }
}

body {
  height: 100%;
}

@import "components/moreInfoWindow";
@import "components/moreInfo";